services:
  web_app:
    build: ./front-dp2
    container_name: web_app
    restart: unless-stopped
    env_file: ./front-dp2/.env


  core_app:
    build: ./back-dp2
    container_name: core_app
    restart: unless-stopped
    env_file: ./back-dp2/.env
    volumes:
      - /mnt/images:/app/static/images
    extra_hosts:
      - "host.docker.internal:host-gateway"

  scrapper_app:
    build: ./scrapper-dp2
    container_name: scrapper_app
    restart: unless-stopped
    env_file: ./scrapper-dp2/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx_proxy:
    image: nginx:latest
    container_name: nginx_proxy_vmqa
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/vmqa-nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./front-admin/dist:/usr/share/nginx/html/admin:ro
      - /mnt/images:/mnt/images:ro
    depends_on:
      - web_app     
      - core_app
      - scrapper_app